{% extends 'base.html' %}
{% load fb_versions %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Modify building plan" %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% include "bimblog/buildingplan_alerts.html" %}
    <h4><strong>{% translate "Modify building plan" %}</strong></h4>
    {% if perms.bimblog.change_buildingplan %}
    <div class="row">
      <div class="col col-md-8">
        {% blocktranslate with name=user.get_short_name %}
          Hello {{ name }}, update the fields below then submit.
        {% endblocktranslate %}
      </div>
      <div class="col col-md-4">
        <a class="btn btn-danger" href="{% url 'bimblog:building_delete' object.slug %}">{% translate 'Delete' %}</a>
      </div>
    </div>
    <hr class="mb-4">
    {% if form.errors %}
      <p class="alert alert-danger" role="alert">
        {% translate 'Fix the errors below, please' %}.
      </p>
    {% endif %}
    <form action="" method="post" class="needs-validation"  enctype="multipart/form-data" novalidate>
        {{ form|crispy }}
        <hr class="mb-4">
        <hr class="mb-4">
          {% include "bimblog/add_buttons.html" %}
        <hr class="mb-4">
      {% csrf_token %}
    </form>
    {% else %}
    {% translate "You don't have permissions to modify building plans" %}.
    {% endif %}
  </div>
</div>
{% endblock content %}
