{% extends 'base.html' %}
{% load fb_versions %}
{% load i18n %}
{% load l10n %}

{% block title %}{{ website.acro }} | {{ build.title }}{% endblock title %}

{% block extra-head %}
  {% include 'bimblog/leaflet_extra_head.html' %}
{% endblock extra-head %}

{% block content %}
{% include "bimblog/building_alerts.html" %}
{% include "bimblog/buildingplan_alerts.html" %}
<div class="row">
  <div class="col col-md-8">
    <h4><strong>{% translate "Building" %}: {{ build.title }}
    </strong></h4>
    <p><em>{{ build.intro }}</em></p>
  </div>
  <div class="col col-md-4 text-right">
    {% if perms.bimblog.add_buildingplan %}
      <a class="btn btn-secondary" href="{% url 'bimblog:buildingplan_create' slug=build.slug %}">{% translate "Add building plan" %}</a>
    {% endif %}
  </div>
</div>
<hr class="mb-4">
<div class="row">
  <div class="col" id="mapid" style="height: 600px; margin-bottom: 10px"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    {% if perms.bimblog.change_building %}
      <a class="btn btn-primary" href="{% url 'bimblog:building_change' slug=build.slug %}">{% translate "Modify building" %}</a>
    {% endif %}
  </div>
  <div class="col-md-4 text-right">
    <a class="btn btn-secondary" href="{% url 'bimblog:building_list' %}">{% translate "Back to all buildings" %}</a>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% if plans.all %}
      <hr class="mb-4">
      {% include 'bimblog/building_detail_plans.html' %}
    {% endif %}
  </div>
</div>

{% endblock content %}
{% block extra-js %}
<script type="text/javascript">

  var base_map = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 21,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: '{{ mapbox_token }}'
  });

  {% if plans %}{% for plan in plans.all %}
  {% for obj in plan.geometry %}
  var plan_{{ plan.id }}_{{ forloop.counter }} = L.{{ obj.type }}({{ obj.coords}}, { color: '{{ obj.color}}', fillcolor: '{{ obj.color}}', fillOpacity: 0.5 {% if obj.type == 'circle' %}, radius: {{ obj.radius|unlocalize }}{% endif %}}).bindPopup("{{ obj.popup }}");
  {% endfor %}
  var plan_{{ plan.id }} = L.layerGroup([{% for obj in plan.geometry %}plan_{{ plan.id }}_{{ forloop.counter }}{% if not forloop.last %},{% endif %}{% endfor %}]);
  {% endfor %}{% endif %}

  var mymap = L.map('mapid', {
    center: [{{ build.lat|unlocalize }}, {{ build.long|unlocalize }}],
    zoom: {{ build.zoom|unlocalize }},
    layers: [base_map, {% if plans %}plan_{{ plans.all.last.id }}{% endif %}]
  });

  L.marker([{{ build.lat|unlocalize }}, {{ build.long|unlocalize }}]).bindPopup("<h5>{{ build.title }}</h5><img src=\"{% version build.fb_image 'medium' %}\">").addTo(mymap);

  var baseMaps = {
    "Base": base_map
  };

  var overlayMaps = { {% if plans %}{% for plan in plans.all %}
    "{{ plan.title }}": plan_{{ plan.id }}{% if not forloop.last %},{% endif %}
  {% endfor %}{% endif %} };

  L.control.layers(baseMaps, overlayMaps).addTo(mymap);

</script>
{% endblock extra-js %}
