{% load fb_versions %}
{% load i18n %}

<div class="card-deck">
{% for build in builds %}
<div class="card" style="margin-bottom: 20px; min-width: 18rem;">
  <div class="card-header">
    <h4 class="card-title">
    <a href="{% url 'bimblog:building_detail' slug=build.slug %}">
      {{ build.title }}</a></h4>
  </div>
  {% if build.fb_image %}
    <img class="card-img-top"
      src="{% version build.fb_image 'landscape' %}"
      alt="{{ build.intro }}">
  {% endif %}
  <div class="card-body">
    <em class="card-text">{{ build.intro }}</em>
    <hr>
    <ul class="list-inline">
      <li class="list-inline-item">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <a href="{% url 'bimblog:building_change' slug=build.slug %}">{% translate "Modify" %}</a>
      </li>
    </ul>
  </div>
</div>
{% endfor %}
</div>
