{% load static %}
{% load fb_versions %}
{% load i18n %}
{% load l10n %}

<script type="text/javascript">

  const map_data = JSON.parse('{{ map_data | escapejs }}');

  var base_map = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 23,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: map_data.mapbox_token
  });

  if (map_data.plans){
    for (plan of map_data.plans){
      let i = 1;
      for (obj of plan.geometry){
        switch ( obj.type ){
          case 'polygon':
            var object = L.polygon( obj.coords, {color: obj.color,
              fillcolor: obj.color, fillOpacity: 0.5}).bindPopup(obj.popup);
            break;
          case 'polyline':
            var object = L.polyline( obj.coords, {color: obj.color})
              .bindPopup(obj.popup);
            break;
          case 'circle':
            var object = L.polyline( obj.coords, {radius: obj.radius,
              color: obj.color, fillcolor: obj.color, fillOpacity: 0.5})
              .bindPopup(obj.popup);
            break;
        }
        window['plan_' + plan.id + '_' + i] = object;
        i = i+1;
      }
    }
  }

  if (map_data.stations){
    const statMarker = L.divIcon({
      html: '<i class="fa fa-camera fa-2x" style="color: red;"></i>',
      iconSize: [20, 20], iconAnchor: [10, 20], popupAnchor: [0, -18],
      className: 'stat-marker'
    });
    for (stat of map_data.stations){
      if (stat.fb_path){
        var content = "<h5><a href=\"" + stat.path + "\">" + stat.title +
          "</a></h5><img src=\"" + stat.fb_path + "\"><br><small>" +
            stat.intro + "</small>";
      } else {
        var content = "<h5><a href=\"" + stat.path + "\">" + stat.title +
          "</a></h5><br><small>" + stat.intro + "</small>";
      }
      var marker = L.marker([stat.lat, stat.long ], {icon: statMarker})
        .bindPopup( content, {minWidth: 300});
      window['stat_' + stat.id ] = marker;
    }
  }

  {% if plans %}{% for plan in plans %}
  var plan_{{ plan.id }} = L.layerGroup([{% for obj in plan.geometry %}plan_{{ plan.id }}_{{ forloop.counter }},{% endfor %}{% for stat in stations %}{% if stat.plan.id == plan.id %}stat_{{ stat.id }},{% endif %}{% endfor %}]);
  {% endfor %}{% endif %}

  {% if no_plan %}
  var no_plan = L.layerGroup([{% for stat in no_plan %}stat_{{ stat.id }},{% endfor %}]);
  {% endif %}

  var mymap = L.map('mapid', {
    center: [ map_data.build.lat , map_data.build.long ],
    zoom: map_data.build.zoom ,
    layers: [base_map,
    {% if plans %}{% for plan in plans.reverse %}{% if plan.visible %}plan_{{ plan.id }},{% endif %}{% endfor %}{% endif %}
    {% if no_plan %} no_plan{% endif %}]
  });

  const buildMarker = L.divIcon({
    html: '<i class="fa fa-building fa-2x" style="color: blue;"></i>',
    iconSize: [20, 20], iconAnchor: [10, 20], popupAnchor: [0, -18],
    className: 'build-marker'
  });

  var content = "<h5>" + map_data.build.title + "</h5><img src=\"" + map_data.build.fb_path + "\">"
  L.marker([ map_data.build.lat , map_data.build.long ], {icon: buildMarker}).bindPopup(content, {minWidth: 300}).addTo(mymap);

  var baseMaps = {
    "Base": base_map
  };

  var overlayMaps = { {% if plans %}{% for plan in plans %}
    "{{ plan.title }}": plan_{{ plan.id }},
  {% endfor %}{% endif %}
  {% if no_plan %}"{% translate 'No plan' %}": no_plan{% endif %}
  };

  L.control.layers(baseMaps, overlayMaps).addTo(mymap);

</script>
